body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.check-block {
  margin: 15px 100px;
}

.minimum {
  color: #ff9900;
}

.recommended {
  color: #009933;
}

.not-enough, .undefined-type {
  color: #ff3300;
}

.empty {
  color: #0033cc;
}

.temperature-converter {
  margin: 20px;
  padding: 20px;
  border: 1px solid #0066ff;
}

.temperature-head {
  color: #ffffff;
  padding: 5px 10px;
  background-color: #0066ff;
  margin-top: 0;
}

.not-boil {
  color: #ffffff;
  padding: 5px 10px;
  background-color: #0066ff;
}

.boil {
  color: #ffffff;
  padding: 5px 10px;
  background-color: #ff3300;
}

hr {
  border-color: 1px solid #0066ff;
}

fieldset {
  margin-top: 20px;
  border: 1px solid #0066ff;
}

fieldset:first-child {
  margin: 0;
  color: #0066ff;
}
